**/*~
venv/
.idea
*.log # ignore logs
**/*.*~
**/data
**/baselines
**/fluidsynth-2.1.1
**/score_following_game.egg-info
**/logs
**/params
**/__pycache__
**/msmd
**/sound_fonts/grand-piano-YDP-20160804.sf2
**/Train-*.out
**/videos
