<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AutoPageTurner</title>
    {{ dropzone.load() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
</head>
<body>
	<h1>Welcome to Automatic Page Turner!</h1>
	<h3>Start by uploading some sheet music images in JPG or PNG format, one sheet music per image;</h3>
	<h3>Processing the images will take some time.</h3>
	{{ dropzone.create(action_view='index') }}
</body>
</html>