<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AutoPageTurner</title>

    <style>
        .imgbox {
            display: grid;
            height: 90%;
        }
        .center-fit {
            max-width: 90%;
            max-height: 90vh;
            margin: auto;
        }
    </style>
</head>
<body>
	<h1>Listening...</h1>
	<a href="{{ url_for('index') }}">Back</a><p>
    
	<!-- <ul> {% for file_url in file_urls %} <li><img style="height: 150px" src="{{ file_url }}"></li> {% endfor %} </ul> -->
	<div class="imgbox">
		<img class="center-fit" src="{{ file_url }}" alt="error displaying music sheet">
	</div>

    <form role="Form" method='POST' action='/interact'>
        <button type="submit" class="btn btn-default">Start Recording</button>
    </form>

	
</body>
</html>